.info-card {
  padding: 1rem;
  background: hsl(243, 27%, 20%);
  border-radius: 0.5rem;
  height: 6rem;
  width: 10rem;
  display: flex;
  flex-direction: column;   
  align-items: flex-start;  
  justify-content: space-between;
}

