.hourly-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: hsl(243, 23%, 30%);
  width: 100%;
  height: 3rem;
  padding: .5rem;
  border-radius: .5rem;
  flex-shrink: 0;
}

.hourly-icon-time {
  display: flex;
  align-items: center;
  gap: .25rem;
}

.hourly-temp {
  font-size: 0.8rem;
  color: white;
}

.hourly-time {
  font-size: 0.75rem;
}

.hourlyinfo-icon {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}
