.hourly-forecast-container, .loading-hourly-forecast{
  display: flex;
  flex-direction: column;
  gap: .25rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.5rem .75rem;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  min-height: 0; 
  max-height: 520px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hourly-forecast-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.hourly-forecast-container::-webkit-scrollbar, .loading-hourly-forecast::-webkit-scrollbar {
  display: none;
}

.day-filter {
  width: 8rem;
  margin-bottom: .5rem;
  padding: .5rem;
  border-radius: .5rem;
  background: hsl(243, 23%, 25%);
  color: white;
  border: none;
}


