.selector-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: hsl(243, 27%, 20%);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: white;
}