.container {
  width: min(100%, 90rem);
  margin: 0 auto;
  padding: 1rem 5rem;
  background-color: hsl(243, 96%, 9%);
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.hero-section h1 {
  font-family: 'BricolageGrotesque';
  font-weight: 700;
}

.searchbar-button {
  display: flex;
  gap: 1rem;
}

#search-button {
  background-color: hsl(233, 67%, 56%);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
  width: 8rem;
}