.container {
  width: min(100%, 90rem);
  margin: 0 auto;
  padding: 1rem 5rem;
  background-color: hsl(243, 96%, 9%);
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.hero-section{
  
}

.searchbar-button{
  display: flex;
  gap: 1rem;
}
