.container {
  width: min(100%, 90rem);
  height: 100dvh;
  margin: 0 auto;
  padding: 1rem 5rem;
  background-color: hsl(243, 96%, 9%);
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.hero-section h1 {
  font-family: 'BricolageGrotesque';
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 2.5rem;
}

.searchbar-button {
  display: flex;
  gap: 1rem;
}

#search-button {
  background-color: hsl(233, 67%, 56%);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
  width: 8rem;
}

.search-button:focus {
  outline: 2px solid #e8f1ff;
}

.weather-Data-section{
  display: flex;
  gap: 2rem;
}

.left-column-section{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 70%;
}

.right-column-section{
  width: 30%;
  background-color: hsl(243, 27%, 20%);
  border-radius: 1rem;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.right-column-section Selector{
  background-color: hsl(243, 23%, 30%);
}